input[type="submit"],
input[type="button"] {
  @include button;
}

.button, input[type="submit"] {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1em;
  padding: 1em 1em 0.8em;
  background: color('accent');
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transition: none;
  border-radius: 0.25em;

  &:hover {
    transition: none;
    background: color('primary');
  }
}
