body {
	&.menu-open {
		height: 100%; width: 100%;
		overflow: hidden;

		nav.responsive {
			transform: translateY(0)
		}
	}
}

header.main {
	padding: 1em 0;
	background: color('primary');

	a {
		color: #fff;
	}

	.row {
		@include flex;
		@include flex-center;
	}

	.logo {
		flex-basis: 230px;
		padding-right: 2em;

		svg {
			height: 60px;
		}
	}

	.site-title {
		display: none;
	}

	nav {
		@include flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;

		.hamburger {
			display: block;
			margin-left: 2em;
			z-index: 8095;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;

				a {
					font-weight: bold;
				}
			}
		}
	}
}

nav.responsive {
	position: fixed;
	top: 0; left: 0;
	height: calc(100vh);
	background: #fff;
	transform: translateY(-100%);
	transition: transform 0.3s ease-out;
	will-change: transform;
	width: 100%;
	z-index: 8090;
}

.hero {
	@include flex;
	@include flex-center;
	height: 500px;
	background: color('primary', 'dark');
	color: #fff;
}
